.table {
    display: table;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
}

.table-cell-center {
    display: table-cell;
    text-align: center;
}

.table-row-center {
    display: table-row;
    text-align: center;
}

.table-cell-right {
    display: table-cell;
    text-align: right;
}

.table-cell-middle {
    display: table-cell;
    vertical-align: middle;
}
