# GitHub workflow to build, test, and deliver project deployables:
# * CLI    - Command line interface package (ZIP)
# * WAR    - JavaEE REST webapp
# * Docker - Docker image 'unit-conversion:latest'
#

name: Java CI/CD with Maven and Docker

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:

    runs-on: ubuntu-latest
    name: Project Build and Test
    
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - uses: actions/upload-artifact@main
      with:
        name: deployable artifacts
        path: |
          target/*.war
          target/*.zip
          target/Dockerfile

  build-and-push-docker-image:
    runs-on: ubuntu-latest
    needs: build-and-test
    name: Docker Build, Tag, Push

    steps:
      - name: Download built artifact
        uses: actions/download-artifact@main
        with:
          name: deployable artifacts
      - name: Build container image
        uses: docker/build-push-action@v1
        with:
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASSWORD}}
          repository: pendracon/unit-conversion
          tags: latest
